/* Hacky color overrides because retype doesn't support theming */

a:hover {
  color: #ff6740;
}

.dark .docs-markdown a:not(.no-link),
.dark .docs-markdown h1 .header-anchor-trigger,
.dark .docs-markdown h2 .header-anchor-trigger,
.dark .docs-markdown h3 .header-anchor-trigger,
.dark .docs-markdown h4 .header-anchor-trigger,
.dark .docs-markdown h5 .header-anchor-trigger,
.dark .docs-markdown h6 .header-anchor-trigger {
  color: #ff6740;
}

.text-blue-500 {
  color: #e6613e;
}

.bg-blue-100 {
  background-color: #ffe1d9;
}

.bg-blue-500 {
  background-color: #e6613e;
}

.dark .dark\:text-blue-400 {
  color: #ff6740;
}

.dark .dark\:bg-blue-400 {
  background-color: #e6613e;
}

.dark\:bg-blue-400 {
  background-color: #e6613e;
}

.border-blue-500 {
  border-color: #e6613e;
}

.dark .dark\:hover\:text-blue-200:hover {
  color: #ffe1d9;
  cursor: pointer;
}

.dark .dark\:hover\:text-blue-400:hover {
  color: #e4785c;
  cursor: pointer;
}

.md\:text-blue-500 {
  color: #e4785c;
}

.hover\:text-blue-800:hover {
  color: #903b26;
}

.hover\:text-blue-500:hover {
  color: #e4785c;
}

/* Custom components start here */

.tab-content {
  font-family: monospace;
}

.path_to_endpoint {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: rgba(214, 214, 214, 0.1);
  color: #e54f29;
  font-family: monospace;
  font-weight: bold;
}

.valueFormat {
  font-family: monospace;
  margin-left: 1rem;
  color: #e6613e;
}

.methodget {
  color: #3083dc;
  font-family: monospace;
  margin: 1rem;
  display: inline-block;
}

.methodpost {
  color: #00cc66;
  font-family: monospace;
  margin: 1rem;
  display: inline-block;
}

.methodput {
  color: #f75c03;
  font-family: monospace;
  margin: 1rem;
  display: inline-block;
}

.methoddelete {
  color: rgb(229, 40, 44);
  font-family: monospace;
  margin: 1rem;
  display: inline-block;
}

.requiredValue {
  color: #e6613e;
  font-family: monospace;
  margin: 0 0.5rem;
}

details {
  font-family: monospace;
  display: block;
  width: 100%;
  padding-left: 0;
  border-left: solid 2px rgba(210, 63, 19, 0.5);
  transition: border-left-color 0.1s ease-in;
}

details:hover {
  border-left-color: rgb(234, 71, 22);
}

details summary {
  list-style: none;
  padding-left: 1rem;
}

summary {
  overflow: hidden;
  font-family: monospace;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.1rem 0;
  transition: background-color 0.07s ease-in;
  color: #e6613e;
  width: 100%;
  user-select: none;
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  background-color: rgba(151, 151, 151, 0.1);
  cursor: pointer;
}

.dark summary:hover {
  background-color: rgba(98, 98, 98, 0.1);
}

.copyBtnAndHintContainer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 6.5rem;
  margin: auto 1rem;
}

.copyBtnAndHintContainer * {
  margin: auto 0;
}

.copyButton {
  display: block;
  position: relative;
  margin: auto 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.copyButton.hidden {
  opacity: 0%;
}

.copyButton.visible {
  opacity: 100%;
}

.copyButton:hover {
  background-color: rgb(218, 218, 218);
}

.dark .copyButton:hover {
  background-color: rgb(69, 69, 69);
}

.copyButton button {
  border-radius: 4px;
  display: flex;
  width: 100%;
  height: 100%;
}

.copyButton button:hover {
  cursor: pointer;
}

.copy {
  height: 100%;
  width: auto;
}

img.copy {
  display: block;
}

.copy.flip {
  animation-name: flip-back;
  animation-duration: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}

.dark .copy {
  filter: invert(80%);
}

.done {
  transform: rotateY(90deg);
  overflow: hidden;
  transition: all 0.3s ease;
  user-select: none;
}

img.done {
  display: block;
  position: absolute;
}

.done.flip {
  animation-name: flip-front;
  animation-duration: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}

@keyframes flip-front {
  from {
    transform: rotateY(90deg);
  }

  20% {
    transform: rotateY(90deg);
  }

  40% {
    transform: rotateY(0);
  }

  60% {
    transform: rotateY(0);
  }

  80% {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(90deg);
  }
}

@keyframes flip-back {
  from {
    transform: rotateY(0);
  }

  20% {
    transform: rotateY(90deg);
  }

  80% {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0);
  }
}

.copyHint {
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  color: rgb(48, 48, 48);
  transition: opacity 0.15s ease-in, transform 0.2s ease-out;
}

.dark .copyHint {
  color: rgb(199, 199, 199);
}

.copyHint.hintVisible {
  opacity: 100%;
  transform: translateY(0);
}

.copyHint.hintHidden {
  opacity: 0%;
  transform: rotateY(90deg);
}

.responseItem {
  margin: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}

.loadingIcon {
  margin: 0.2rem 2rem;
}

.loadingIcon circle {
  stroke: #d64c29;
}

.dark .loadingIcon circle {
  stroke: #e6613e;
}